:root {
	--blue: rgb(0, 204, 255);
	--red: #f42;
}

.grid {
	display: grid;
	grid-template-columns: repeat(7, 16px);
	grid-template-rows: repeat(11, 10.5px);
	margin: 0;
	padding: 0;
}

.box {
	background: transparent;
	margin: 0;
	padding: 0;
}

.blue {
	background: var(--blue);
}

.box:hover {
	background: var(--red);
	box-shadow: 0 0 20px #000;
}

