/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');*/

/* VUE */
.blur {
  filter: blur(16px);
}

.scale {
  transform: scale(3.4);
  margin-left: 800px;
  margin-top: -200px;
  cursor: zoom-out !important;
}

.scaleBackCase {
  transform: scale(3.4);
  margin-right: 400px;
  margin-top: -200px;
  cursor: zoom-out !important;
}

.flexEnd {
  margin-left: 40%;
  margin-right: 20px;
  transition: 0.2s margin-left;
}

.processor {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 0;
  opacity: 0;
  transform: scale(0.8);
}

.intel {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 10;
  opacity: 1;
  transform: scale(1);
  transition: 0.2s opacity, transform 0.2s;
}

.intel img, 
.processor img {
  width: 140px;
  max-height: 140px;
}

.opacity {
  opacity: 0;
  z-index: 0;
}

.layer {
  position: absolute;
  width: 100%;
  bottom: -400px;
  height: 400px;
  display: none;
}

.block {
  display: block;
  opacity: 1
}

.none {
  display: none;
  opacity: 0;
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 60px 10px 0;
  flex-wrap: wrap;
  column-gap: 20px;
  background: #fff;
  background-image: url(../img/bg.jpg);
  background-size: contain;
  border-top: 2px dotted #bbb;
  border-bottom: 2px dotted #bbb;
}

.details div:not(:last-child) {
  width: 400px;
}

.cursor {
  cursor: zoom-in;
}

.search iframe {
	width: 150px;
	height: 364px;
	outline: none;
	border: none;
	opacity: 0.9;
}

.front iframe, .back iframe {
	width: 150px;
	height: 170px;
	outline: none;
	border: none;
	opacity: 0.9;
}

:root {
	--blue: rgb(0, 204, 255);
	--red: #f42;
	--auto: 0 auto;
}

* {
	margin: 0.5px;
	padding: 0.5px;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #2a2a2a;
}

a:hover {
	color: #09f;
	transition: color 0.1s;
}

br {
	display: none;
}

ul {
	list-style: none;
}

button {
	border: 0;
	outline: 0;
	box-shadow: 1px 1px 4px gray;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

input {
	outline: 0;
	border: 1px solid #bbb;
	background: #ffffff07;
}

body {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #5a5a5a;
	background: url(../img/bg.jpg) top center no-repeat;
	transition: 0.6s background, 0.2s transform ease-in-out 0.1s;
	overflow-x: hidden;
}

.header, .app, footer, .htmlcontent {
	width: 1000px;
	min-width: 788px;
	max-width: 1000px;
	margin: 0 auto 10px;
}

.header, nav {
	display: flex;
}

.header  {
	height: 174px;
	margin-top: 20px;
}

h1 {
	font-size: 20px;
	font-weight: normal;
	margin-left: 14px;
}

h2 {
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	margin-left: 14px;
}

.active {
	color: #09f !important;
}

.search .active {
	color: #fff !important;
	background-color: #0af !important;
}

.logo {
	width: 150px;
	min-height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logo-min {
	display: none;
}

.logo > div {
	width: 112px;
	height: 120px
	margin: 0 10px;
}

.logo > div img {
	width: 110px;
	margin: 0 10px;
}

.title {
	width: 80%;
	font-size: 24px;
	letter-spacing: 2.4px;
}

.subtitle {
	width: 80%;
	font-size: 11px;
	letter-spacing: 0.5px;
	white-space: nowrap;
}

.topnav {
	width: 100%;
	padding: 0 10px 0 5px;
}

.func, .social, .lang {
	width: 104px;
}

.lang li {
	margin-left: 75%;
}

.lang button img {
	width: 120%;
}

nav button {
	width: 20px;
	height: 20px;
	margin-left: 4px;
	transition: background 0.1s;
	border: #ddd9 solid 0;
	border-radius: 2px;
	background: #fffa;
	box-shadow: none;
}

nav button img {
	width: 75%;
}

nav button:hover {
	background: #0cf;
	box-shadow: 1px 1px 4px gray;
}

.social, .lang, .topmenu {
	display: flex;
	justify-content: space-around;
}

.func {
	display: flex;
	justify-content: center;
}

.microsoft {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: var(--auto);
	padding-top: 10px;
}

.microsoft img {
	width: 120px;
}

.topnav > nav {
	justify-content: space-between;
	height: 40px;
	align-items: flex-start;
}

nav:nth-child(2) {
	justify-content: flex-end;
}

.topmenu {
	height: 40px;
	align-items: center;
}

.topmenu li:not(:first-child) {
	margin-left: 20px;
	align-items: center;
}

.header section {
	display: flex;
	flex-wrap: wrap;
}

.header section div {
	display: grid;
	height: 90px;
}

.app {
	position: relative;
	min-height: 348px;
	display: flex;
	justify-content: center;
}

.sidebar, .front {
	width: 150px;
	height: 174px;
  	z-index: 9;
}

.sidebar {
	background: #ffffff07;
	display: flex;
	justify-content: center;
}

.sidebar .wrapper {
	width: 130px;
	display: grid;
	justify-content: center;
	align-items: center;
	border-top: 20px solid #0cf;
}

.sidebar .wrapper:hover {
	border-top: 20px solid #aaa9;
	transition: border 0.4s;
}

.sidebar .wrapper  li {
	width: 100px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

.sidebar .wrapper  a {
	display: block;
	font-size: 14px;
	padding: 8px;
	color: #4a4a4a;
}

.item-m {
	display: none;
}

.sidebar .wrapper  a:hover,
.topmenu  a:hover {
	color: #09f;
	transition: color 0.1s;
}

.search {
	width: 150px;
	height: 348px;
}

.search ul {
	font-size: 11px;
	width: 122px;
	margin: 4px;
	padding: 4px;
	cursor: pointer;
	color: #222;
	border: #ddd solid 1px;
	border-radius: 2px;
	background: #ffffff07;
}

.search ul:hover {
	background: #0af;
	color: #fff;
}

.flex {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.banner, .about {
	width: 70%;
	height: 174px;
}

.banner, .sidebar {
	margin-bottom: 10px;
}

.banner {
	background: linear-gradient(#eee0, #7775);
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}

.server {
	background: url(../img/server.jpg) center;
}

.support {
	background: url(../img/thoughtful-young-bearded-manager-typing-on-keyboard-while-3966786.jpg) top ;
	background-size: 100%;
	background-repeat: no-repeat;
}

.man {
	width: 140px;
	height: 174px;
	left: 28%;
	position: absolute;
	background: url(../img/man.png) center;
	background-repeat: no-repeat;
	background-size: contain;
}

.pagename {
	width: 140px;
	height: 174px;
	position: absolute;
	font-size: 64px;
	left: 35%;
	display: flex;
	align-items: flex-end;
	bottom: 5%;
	color: #aaa7;
}

.about {
	display: flex;
}

.front img, .back img {
	width: 100%;
	transition: 0.2s transform;
	cursor: zoom-in;
}

.front, .back {
	display: flex;
	justify-content: center;
	align-items: center;
}

.front {
	background: linear-gradient(#eee0, #7775);
}

.description {
	height: 174px;
	width: 74%;
	margin-left: 10px;
	display: grid;
	padding-left: 15px;
	background: #ffffff07;
	font-size: 13px;
}

.bb-red {
	border-bottom: 5px solid var(--red);
}

.back {
	border-top: 5px solid var(--blue);
	margin-left: 10px;
	width: 140px;
	height: 174px;
	z-index: 9;
	flex-wrap: wrap;
}

.description ul {
	height: 120px;
}

.btns {
	height: 50px;
	display: flex;
	justify-content: flex-end;
}

.btn {
	min-width: 82px;
	height: 24px;
	margin: 10px;
	border: gray solid 1px;
	border-radius: 2px;
	background: #0cf;
}

.btn:hover {
	border: #bbb solid 1px;
	background: #0af;
}

.search input {
	height: 24px;
	padding: 10px;
	width: 140px;
	margin-bottom: 10px;
}

.htmlcontent {
	padding: 8px;
}

.htmlcontent p, .htmlcontent h3, .htmlcontent ul {
	margin-bottom: 10px;
}

footer {
	padding: 5px 10px;
	background: #f4f4f4;
}

footer .wrapper {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	flex-direction: row;
}

.contact {
	max-width: 200px;
	min-width: 200px;
	height: 220px;
}

.head {
	height: 100px;
}

.foot {
	height: 100px;
	display: flex;
	flex-direction: row;
}

.dell {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
}

.dell img {
	display: block;
	width: 200px;
}

.partner, .location {
	width: 50%;
	height: 100%;	
}

.partner {
	background: #444;
	display: block;
	align-content: flex-start;
}

.partner img {
	display: block;
	width: 100%;
}

.location {
	font-size: 11px;
	padding: 4px;
	display: flex;
	align-items: center;
}

.navbar {
	width: 80%;
	display: flex;
}

.navbar nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.navbar ul {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.navbar ul li {
	display: inline-flex;
	width: 100px;
	min-height: 15px;
	margin: 2px 10px;
	padding: 0 0 3px 10px;
	font-size: 13px;
	border-bottom: 1px dotted #ddd;
}

.navbar ul li:hover {
	border-bottom: 1px dotted #777;
}

.navbar ul li a:hover {
	color: #09f;
	transition: color 0.1s;
}

.footnav nav {
	display: flex;
	flex-direction: column;
}

.footnav nav ul {
	width: 310px;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footnav nav ul:first-child {
	width: 100%;
}

.footnav nav ul li:not(:first-child) {
	margin-left: 40px;
}

.footnav nav .os li:first-child {
	width: 60%;

}

.os li:not(:first-child) {
	display: flex;
	align-items: center;
}

.os li a {
	margin-left: 5px;
	font-size: 12px;
}

.os li a:hover {
	color: #09f;
	transition: color 0.1s;
}

.os li img {
	width: 20px;
	cursor: pointer;
}

.basement {
	font-size: 12px;
	text-align: center;
}

.copyright {
	margin: 20px auto;
}

.modal {
	position: absolute;
	width: 600px;
	height: 350px;
	background: linear-gradient(to left, #fffd 70%, #eee7 100% );
	left: 160px;
	right: 25%;
	z-index: 11;
	border-radius: 2px;
	box-shadow: 2px 2px 2px 1px #fff;
}

.close {
	position: absolute;
	border-radius: 2px;
	z-index: 4;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	cursor: pointer;
	border: 0;
	background: 0;
}

.close img {
	width: 100%;
}

.close:hover {
	background: #f00d
}

.content {
	position: absolute;
	top: 2px;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff0;
	display: flex;
	color: #222;
	font-size: 13px;
}

.content div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	white-space: nowrap;
}

.content div:first-child {
	width: 60%;
    padding-left: 10px;
}

.content div:not(:first-child) {
	width: 40%;
	align-items: flex-start;
	overflow: hidden;
}

.content div img {
	width: 200px;
}

.details {
  position: absolute;
}

.description ul li:last-child {
	margin-top: 10px;
}

.description ul li span{
	background-color: lightgreen;
	padding: 5px;
	border-radius: 2px;
}

@media screen and (max-width: 1200px) {
	.content {
		font-size: 12px;
	}
}

@media screen and (max-width: 1000px) {
   .header, .app, footer, .htmlcontent {
    	width: 100%;
  }
}

@media screen and (max-width: 900px) {
	.modal {
		width: 60%;
	}

	.scale {
	  transform: scale(2.4);
	  margin-left: 600px;
	}

	.scaleBackCase {
	  transform: scale(2.4);
	  margin-right: 300px;
	}
}

@media screen and (max-width: 788px) {
	.header, .app, footer, .htmlcontent {
		min-width: 320px;
		width: 100%;
	}

	h2 {
		font-size: 24px;
	}

	h1 {
		opacity: 0;
	}

	.about {
		width: 100%;
	}

	.back {
		display: none;
	}
	.content {
		font-size: 11px;
	}

	.modal {
		width: 55%;
	}

  .front {
    	background: transparent;
  	}

  .about {
      	background: linear-gradient(#eee0, #7775);
  	}

  	.layer {
	    height: 1000px;
	    bottom: -1000px;
  	}

}

@media screen and (max-width: 664px) {
	.app {
		flex-wrap: wrap;
	}

	.about {
		border-bottom: 2px solid var(--red);
		margin-bottom: 10px;
	}

	.search {
		width: 100%;
		height: auto;
		display: grid;
		text-align: center;
	}

	.search iframe {
		width: 100%;
		height: 170px;
		outline: none;
		border: none;
		opacity: 0.9;
	}

	.search ul {
		width: 70%;
		font-size: 14px;
		margin-left: auto;
		margin-right: auto;
		padding: 7px;
	}

	.microsoft {
		position: absolute;
		right: 20px;
	}

	footer .wrapper {
		flex-wrap: wrap;
	}

	.navbar {
		width: 100%;
	}

	.navbar nav {
		width: 520px;
		margin: 0 auto;
	}

	.navbar ul {
		justify-content: space-between;
	}

	.contact {
		max-width: 200px;
		min-width: 200px;
		height: 220px;
		margin: 0 auto;
	}

	.modal {
		width: 70%;
		right: 10%;
	}

  	.scale {
	  	transform: scale(2.1);
	  	margin-left: 500px;
	}

	.intel {
		display: none;
	}

	.support {
		background: url(../img/thoughtful-young-bearded-manager-typing-on-keyboard-while-3966786.jpg) top ;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.pagetitle {
		height: 50px;
	}
}

@media screen and (max-width: 520px) {
	.banner, .about, .sidebar, .sidebar .wrapper {
		width: 100%;
	}

	h2 {
		font-size: 24px;
	}

	h1 {
		opacity: 1;
	}

	.logo {
		display: none;
	}

	.logo-min {
		display: block;
	}

	.sidebar {
		display: flex;
		justify-content: center;
	}

	.sidebar .wrapper  li {
		width: 240px;
	}

	.topnav div, .topnav nav {
		margin-bottom: 40px;
	}

	.header, .topnav {
		flex-wrap: wrap;
		height: auto;
		min-height: 174px;
	}

	nav ul {
		margin-left: 10px;
	}

	.logo, .topnav {
		width: 100%;
	}

	.topmenu {
		/*position: fixed;*/
		z-index: 10;
		height: 50px;
		border-top: 1px solid #4448;
		border-bottom: 1px solid #4448;
	}

	.func {
		width: 54px;
	}

	.social {
		width: 208px;
		margin-left: 54px;
	}

	nav button {
		width: 24px;
		height: 24px;
	}

	nav button img {
		width: 90%;
	}

	.topmenu:hover {
		border-top: 1px solid rgb(253, 65, 0);
		border-bottom: 1px solid rgb(106, 197, 0);
	}

	.sidebar .wrapper {
		border-top: 2px solid #4448;
	}

	.sidebar .wrapper:hover {
		border-top: 2px solid #000a;
	}

	.about, .description {
		height: 240px;
	}

	.notmain {
		height: 178px;
	}

	br {
		display: block;
	}

	.btns {
		margin-top: 40px;
	}

	.navbar nav {
		width: 400px;
	}

	.os li:first-child {
		display: none;
	}

	.os {
		justify-content: center;
		margin-left: -20px;
	}

	.os {
		margin-left: -20px;
	}

  	.modal {
	    left: 0;
	    right: 0;
	    top: 150px;
	    height: 470px;
	    width: 100%;
	    background: #fffd;
	    backdrop-filter: blur(6px);
	    z-index: 11;
  	}

	.content {
		font-size: 14px;
	}

	.scale {
	  	transform: scale(3.0);
	  	margin-left: 400px;
	}

	.pagename {
		font-size: 48px;
	}

} 

@media screen and (max-width: 490px) {
	.modal {
    	width: 100%;
    }

    .content{
    	left: 110px;
    }

    .content div img {
		width: 1px;
	}

	.scale {
	  	transform: scale(4);
	  	margin-left: 100px;
	}

	.layer {
	    height: 1200px;
	    bottom: -1200px;
  	}
}

@media screen and (max-width: 400px) {
	.topmenu li:not(:first-child) {
		display: none;
	}

	.item-m {
		display: block;
	}

	.sidebar {
		height: 300px;
	}

	.topmenu {
		margin: 0 auto;
	}

	.navbar nav {
		width: 320px;
	}

	.navbar nav ul  {
		width: 85%;
		margin: 0 auto;
	}

	.layer {
	    height: 1280px;
	    bottom: -1280px;
  	}
}

@media screen and (max-width: 310px) {
	.microsoft {
		position: relative;
		margin-left: 40%;
	}
}

.price-enter-active,
.price-leave-active {
	transition: all .2s;
}

.price-enter,
.price-leave-to {
	transform: translateY(5px);
	opacity: .1;
}

.htmlcontent-enter-active,
.htmlcontent-leave-active {
	transition: all .2s;
}

.htmlcontent-enter,
.htmlcontent-leave-to {
	opacity: .1;
}

.modal-enter-active,
.modal-leave-active {
	transition: all .2s
}

.modal-enter,
.modal-leave-to {
	transform: translateY(100px);
	opacity: 0
}
