<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>iHelp</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
	<header>
		<div class="logo">
			<div class="wrapper">
				<img src="svg/logo.svg">
			</div>
			<span class="title">iHELPER</span>
			<span class="subtitle">information technology</span>
		</div>
		<div class="topnav">
			<nav>
				<ul class="func">
					<li><button><img src="svg/func/line.svg"></button></li>
					<li><button><img src="svg/func/add.svg"></button></li>
					<li><button><img src="svg/func/moon.svg"></button></li>
					<li><button><img src="svg/func/sun.svg"></button></li>
				</ul>
				<ul class="social">
					<li><button><img src="svg/social/facebook.svg"></button></li>
					<li><button><img src="svg/social/vk.svg"></button></li>
					<li><button><img src="svg/social/twitter.svg"></button></li>
					<li><button><img src="svg/social/instagram.svg"></button></li>
				</ul>
				<ul class="lang">
					<li><button><img src="svg/lang/usa.svg"></button></li>
				</ul>
			</nav>
			<nav>
				<ul class="topmenu">
					<li class="logo-min">
						<span class="title">iHELPER</span>
						<span class="subtitle">information technology</span>
					</li>
					<li><a href="">Development</a></li>
					<li><a href="">Service</a></li>
					<li><a href="">Support</a></li>
				</ul>
			</nav>
			<section>
				<div>
					<h1>Remote assistance to your computer</h1>
					<h2>IT consulting</h2>
				</div>
				<div class="microsoft"><img src="img/microsoft-gold-partner.png"></div>
			</section>
		</div>
	</header>
	<main id="app">
		<div class="flex">
			<div class="sidebar">
				<div class="wrapper">
					<nav>
						<ul>
							<li><a href="">Main</a></li>
							<li><a href="">Services</a></li>
							<li><a href="">Hosting</a></li>
							<li><a href="">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="banner">
				<div class="man"></div>
				
			</div>
			<div class="about">
				<div class="front">
					<img v-bind:src="item.image">
				</div>
				<div class="description">
					<ul>
		                <li><strong>{{item.title}}</strong></li>
		                <li>Model - <strong>{{item.model}}</strong></li>
		                <li>Processor - <br><strong>{{item.processor}}</strong></li>
		                <li>Memory - <br><strong>{{item.memory}}</strong></li>
		                <li>Graphics - <br><strong>{{item.graphic}}</strong></li>
		                <li>
		                	<transition vue-role="transition" name="price">
		                		<span v-if="priceVisible">{{item.price}} BYN</span>
		               		</transition>
		                </li>
                	</ul>
                	<div class="btns">
                		<button class="btn" v-on:click="modalVisible = !modalVisible;">
                			{{specBtnText}}
                		</button>
                        <button class="btn" v-if="btnPriceVisible" v-on:click="priceVisible = !priceVisible">
                        	{{priceBtnText}}
                        </button>
                	</div>
				</div>
			</div>
			<div class="back">
				<img v-bind:src="item.imageBack">
			</div>
		</div>
		<div class="search">
				<input placeholder="Search:" type="" name="">
			<ul v-for="(item, index) of filteredItems" v-on:click="selectItem(item, index)"
			:class="{'active': selectedItemIndex === index}">{{item.model}}
			</ul>			
		</div>
	</main>
	<footer>
		<div class="navbar">
			<nav>
				<ul>
					<li><a href="">Consulting on the purchase of computer hardware and software</a></li>
					<li><a href="">Hard disk data recovery</a></li>
					<li><a href="">Remote computer assistance</a></li>
					<li><a href="">System administration</a></li>
					<li><a href="">Antivirus support</a></li>
					<li><a href="">Cloud storage</a></li>
					<li><a href="">Archiving and backup</a></li>
					<li><a href="">Cleaning and tweaking the registry</a></li>
					<li><a href="">LAN design</a></li>
					<li><a href="">Optimizing download speed</a></li>
					<li><a href="">Installing and configuring SLL certificates</a></li>
					<li><a href="">FTP servers and protocols management</a></li>
					<li><a href="">Internal optimization of SPA and sites</a></li>
					<li><a href="">Turnkey IT solutions creation</a></li>
				</ul>
			</nav>
		</div>
		<div class="contact"></div>
		<div class="footnav">
			<nav>
				<ul>
					<li><a href="">Windows</a></li>
					<li><a href="">macOS</a></li>
					<li><a href="">Linux</a></li>
				</ul>
				<ul>
					<li><a href="">Development</a></li>
					<li><a href="">Service</a></li>
					<li><a href="">Support</a></li>
				</ul>
			</nav>
		</div>
	</footer>
<script src="app.js"></script>
</body>
</html>
