:root {
	--blue: rgb(0, 204, 255);
	--red: #f42;
	--auto: 0 auto;
}

* {
	margin: 0.5px;
	padding: 0.5px;
	box-sizing: border-box;
	/*border: 1px solid gray;*/
}

a {
	text-decoration: none;
	color: #2a2a2a;
}

ul {
	list-style: none;
}

body {
	background: url(img/_bg.jpg) top center no-repeat;
}

header, main, footer {
	width: 70%;
	min-width: 788px;
	max-width: 1000px;
	margin: 0 auto;
	/*border: 1px solid gray;*/
}

header, nav {
	display: flex;
}

header  {
	min-height: 174px;
	/*border: 1px solid gray;*/
}

.logo {
	width: 150px;
	min-height: 170px;
	/*border: 1px solid gray;*/
}

.sidebar, .image {
	width: 150px;
	height: 174px;
	border: 1px solid gray;
}

.search {
	width: 150px;
	height: 348px;
	border: 1px solid gray;
}

main {
	position: relative;
	min-height: 348px;
	display: flex;
	flex-direction: row;
}

.flex {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.banner, .about {
	width: 70%;
	height: 174px;
	border: 1px solid gray;
}

input {
	width: 140px;
}

@media screen and (max-width: 788px) {
	header, main, footer {
		min-width: 320px;
		width: 100%;
	}
}

@media screen and (max-width: 664px) {
	main {
		flex-wrap: wrap;
	}

	.search {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 520px) {
	.banner, .about, .sidebar, .image {
		width: 100%;
	}

	header {
		flex-wrap: wrap;
	}
	
	.logo, .topnav {
		width: 100%;
	}
}

